/* Basic Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

/* Set the root font-size so other measurements can be declared in rem */
html {
  font-size: 62.5%; 
}

body {

  box-sizing: border-box; 
}